<?xml version="1.0"?>
<launch>
 <param name="use_sim_time" value="true" />

 <!-- Console launch prefix -->
  <arg name="launch_prefix" default=""/>

  <!-- graph folder. -->
  <arg name="seg_graph_path"  default="$(find seg_ncs)/bag"/>

  <!-- Load parameters -->
  <rosparam command="load" ns="seg_ncs" file="$(find seg_ncs)/config/ros.yaml"/>
  <rosparam command="load" ns="seg_ncs" file="$(find seg_ncs)/config/cameraParams.yaml"/>
  <rosparam command="load" ns="seg_ncs" file="$(find seg_ncs)/config/seg_mobilenetv1.yaml"/>

  <!--node pkg="ssddetect" type="ssddetect" name="ssddetect" output="screen" launch-prefix="$(arg launch_prefix) gdb -ex run"-->
  <node pkg="seg_ncs" type="seg_ncs" name="seg_ncs" output="screen" launch-prefix="$(arg launch_prefix)">
    <param name="graph_path"          value="$(arg seg_graph_path)" />
  </node>

</launch>
